body {
    color: #666;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 2em;
    line-height: 40px;
}
h2 {
    color: #041A9B;
    font-size: 1.6em;
}
h1, h2 {
    font-family: Marcellus;
    font-weight: normal;
}
p {
    color: #777;
    font-size: 1.1em;
}

#container {
    margin: 0 auto;
    width: 900px;
}

#header {
    background: url("/img/ub.jpeg") no-repeat;
    background-position: -121px 7px;
    background-size: 350px;
    padding: 15px 0 10px 121px;
}
#header h1 {
    display: inline;
}
#header #signin {
    float: right;
}

#nav {
    font-weight: bold;
}
#nav a {
    color: #041A9B;
    text-decoration: none;
}
#nav a:hover {
    text-decoration: underline;
}
#nav ul {
    padding: 0;
    margin: 0
}
#nav li {
    display: inline;
    margin-right: 1em;
}

#hero {
    background: url("/img/parents.jpeg") no-repeat white;
    background-position: -5px 0;
    background-size: 400px;
    height: 310px;
    text-align: center;
}
#hero div {
    background: url("/img/foggy_birds.png");
    float: right;
    overflow: hidden;
    padding: 10px;
    margin-right: 105px;
    width: 200px;
}
#hero div h2 {
    color: #041A9B;
}
#hero div button {
    margin-bottom: .83em;
}

.border-shadow {
    border-bottom: solid #777 1px;
    border-left: solid #ccc 1px;
    border-right: solid #777 1px;
    border-top: solid #ccc 1px;
}
.no-top {
    border-radius: 0 0 3px 3px;
    border-top: none;
}
